li a {
    color: green;
    outline: 1px solid;
    outline-color: green;
    background-color: yellow;
    font-size: 50px;

}

body {
    background: white url("images/image.gif") no-repeat right top;
}

